@import './../../global.css';

span .title, span .title:disabled {
    pointer-events: none;
    user-select: none;
    background-color: var(--color-third);
    color: var(--color-tenth);
    font-size: 15px;
    transition: background-color .3s ease-in-out;
}
span label {
    position: absolute;
    padding: 0.05rem;
    border-radius: .3rem;
    color: var(--color-fourth);
    font-size: .75rem;
    background-image: linear-gradient(var(--color-ninth), var(--color-sixth));
    transform: translatey(-0.45rem) translatex(-120%);
}
span input,
span select {
    outline: none;
    height: 2.2rem;
    width: 5rem;
    padding: 0 1rem;
    color: var(--color-third);
    font-size: 15px;
    border: 1px solid var(--color-third);
    background-color: var(--color-sixth);
}
span input:first-child,
span select:first-child {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
span input:not(:last-of-type),
span select:not(:last-of-type) {
    border-right: none;
}
span input:last-of-type,
span select:last-of-type {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
span input:placeholder-shown + label,
span select:placeholder-shown + label {
    transition: all .4s ease-in-out;
    opacity: 0;
}
span input:focus + label, span input:hover + label, 
span select:focus + label, span select:hover + label {
    transition: all .4s ease-in-out;
    color: var(--color-twelfth);
    opacity: 1;
}
span input:disabled,
span select:disabled {
    background-color: var(--color-eleventh);
    cursor: not-allowed;
}
span input:disabled + label,
span select:disabled + label {
    background-image: linear-gradient(var(--color-ninth) 45%, var(--color-eleventh));
}
span:not(span[data-tip='']) input,
span:not(span[data-tip='']) select {
    color: var(--color-tenth);
    background: var(--color-fifteenth);
}
span:not(span[data-tip='']) input + label,
span:not(span[data-tip='']) select + label {
    color: var(--color-third);
    background-image: linear-gradient(var(--color-ninth) 45%, var(--color-fifteenth));
}